
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #0c1022;
    color: #fff;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    padding: 20px 10%; 
    max-width: 1600px;
    background-color: transparent;  
    color: white;
    z-index: 100;
}

.center{
    width: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    font-size: 25px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

#btn-mobile{
    display: none;
}

li{
    list-style: none;
}

#menu{
    display: flex;
}

#menu >li> a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop .5s ease forwards; 
    animation-delay: calc(.2s * var(--i));
}

.perfil{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}
.texto{
    max-width: 550px;
    
}
.texto h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.texto h3{
    font-size: 32px;
    font-weight: 700;
}

.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    font-size: 19px;
    color: #fff;
    border-radius: 48px;
    text-decoration: none;
    font-weight: 600;
    margin-top: 20px;
    z-index: 1;   
}
.btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,#1564c4, #20b0e8, #C7F002);
    background-size: 200%;
    background-position: 0 0;
    filter: blur(5px);
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}
.btn:hover::before{
    background-position: 100% 0;
}
.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg,#1564c4, #20b0e8, #C7F002);
    background-position: 0 0;
    background-size: 200%;
    z-index: -1;
    border-radius: 40px;
    transition: .5s ease;
}
.btn:hover::after{
    background-position: 100% 0;
}
.icones {
    display: flex;

}
.icones a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg,#1564c4, #20b0e8, #C7F002);
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 20px 10px;
    z-index: 1;  
}
.icones a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #1564c4, #20b0e8, #C7F002);;
    border-radius: 50%;
    z-index: -1;
    transition: .5s ease;
}
.icones a:hover::before{
    filter: blur(5px);
}
.icones a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0c1022;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: .5s ease;
}
.icones a:hover::after{
    transform: scale(0);
}


.home-img{
    width: 340px;
    height: 340px;
}

.home-img .circulo{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-img .circulo::after{
    content: '';
    position: absolute;
    width: 320px;
    height: 320px;
    background: #0c1022;
    border-radius: 50%;
}

.circulo span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1564c4, #20b0e8, #6afaab);
    border-radius: 50%;
    animation: circuloRotativo 5s linear infinite;
}

.circulo span:nth-child(1){
    filter: blur(10px);
}
.circulo .imagem{
    position: relative;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}
.imagem img{
    position: absolute;
    top: 10px;
    left: 46%;
    transform: translateX(-50%);
    max-width: 360px;
    object-fit: cover;
}

/*Projetos*/
.projetos{
    background: #121931;
    width: 100%;
    height: 60vh;
    display: block;    
    text-align: center;
}


.banners{
    
    margin: 20px;
    display: flex;
    justify-content: center;
    
}

.banners img{
    max-width: 300px;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    padding: 10px 2%;
}

.banners a{
    text-decoration: none;
}

.banners p{
    width: 400px;
    margin-top: 10px;
    color: #fff;
    padding: 10px;
}
.container{
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.527);
    border-radius: 10px;
    margin: 10px;
}

/*Sobre*/

.bio h1{
    text-align: center;
    margin: 10px;
}

.bio p{
    text-align: center;
    max-width: 700px;
    padding: 5px 2%;
    

}









@media screen and (max-width: 1110px){
    .home-img{
        width: 250px;
        height: 250px;
    }
    .circulo .imagem{
        width: 250px;
        height: 250px;
    }
    .circulo span{
        width: 110%;
        height: 110%;
    }
    .home-img .circulo::after{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width: 760px){
    section{
        flex-direction: column;
        justify-content: start;
    }
   
    #menu{
        display: none;
    }
    /*botão mobile*/
    #nav.active #menu{
        display: block;
        flex-direction: column;
        position: absolute;
        width: 80%;
        height: 50vh;
        padding-top:10px;
        top: 70px;
        right: 70px;
        background:#0c1022 ;
        border: 3px solid #1564c4;
        animation:slideTop .5s ease forwards;
        
    }

    #menu a{
        padding: 10px 0;   
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 19px;
        border: none;
        cursor: pointer;
        background: none;
        color: #fff;
        font-weight: 600;
        gap: .5rem;
        align-items: center;
    }

    #hamburguer{
        border-top: 2px solid;
        width: 20px;
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        background: currentColor;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        transition: .3s;
        position: relative;

    } 

    #nav.active #hamburguer{
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }

    #nav.active #hamburguer::after{
         transform: rotate(-135deg);
         top:-7px;
    }
    
    .home-img{
        margin-top: 30px;
    }
    .texto{
        text-align: center;
    }
    .texto h1{
        font-size: 38px;
    }
    .texto h3{
        font-size: 25px;
        margin-top: 5px;
    }
    .icones{
        justify-content: center;
    }
    .projetos{
        margin-top: 40px;
        height: 100vh;
    }
    .banners{
        flex-direction: column;
    }
    .banners img{
        width: 60%;
    }
    .banners p{
        margin: 10px 20%;
    }

}
    

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes circuloRotativo{
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg    );
    }
}