@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Rubik:wght@400;700 & display=swap');

:root {
    --fonte-normal: Arial, Verdana, Helvetica, sans-serif;
    --fonte-padrão: 'Rubik', sans-serif;
    --cor01: #023535;
    --cor02: #015958;
    --cor03: #008F8C;
    --cor04: #0CABA8;
    --cor05: #000000;
}
*{
    font-family: var(--fonte-padrão);
}

body {
    background-color: rgb(0, 0, 0);
    width: 98vw;
    height: 90vh;
    margin: 0 auto;
    
}

header{
    width: 98%;
    padding: 10px;
    margin: 6px;
    background-image: linear-gradient(to bottom right, #023535 15%,#015958 30%,#008f8c, rgba(14, 2, 2, 0.925));
    display: inline-block;   
}

.logo{
    width: 100px;
    height: auto;
}
.menu > a{
    color: var(--cor05);
    text-decoration: none;
    margin-left: 10px;
}

input{
    height: 23px;
    width: 200px;
    background-color: #a5a5a5;
    padding: 0px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    color: #000000;
    border: 2px solid #2d2d2d;   
    
}

a:hover {
    font-weight: bold;
    
    color: gray;
    background-color: white;
}
.busca {
    display: inline-flex;
    margin-left: 10px;
}
form > input{
    width: 145px;
    margin-left: 5px;

}


main{
    color:white;
    height: 600px;  
}
main > p{
    display: inline-block;
    width: 500px;
    text-indent: 1.7em;
    text-size-adjust: 50%;
}
main#img001 {
    background-image: url('../imagens/img002.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
footer {
    background-color: var(--cor05);
    color: aliceblue;
    text-align: center;
}
